$blue: #3698eb !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #d70018 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #fff;
}

.navbar-light .navbar-toggler {
  border: none;
}
body {
  background-color: #f8f9fa;
}

.custom-account {
  display: none;
}

.animation-open {
  animation: openNav 0.5s;
  width: 200%;
}

.animation-close {
  animation: closeNav 0.5s;
  // display: none !important;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards;
}

@keyframes openNav {
  0% {
    left: -100%;
  }
  100% {
    left: 0px;
  }
}

@keyframes closeNav {
  0% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 992px) {
  .custom-nav {
    flex-direction: row-reverse;
  }
  .custom-account {
    display: block;
  }
}

.natigation-item {
  display: flex;
  align-items: center;
  padding: 1px 1px 1px 10px;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 10px;
}

.natigation-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scale:hover {
  transform: scale(1.05);
  transition: 0.5 all;
}
.cursor-pointer {
  cursor: pointer;
}

.border-radius-10 {
  border-radius: 10px;
}

.hdk-menu {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}
.hdk-menu-item {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.hdk-menu-item:hover,
.hdk-menu-item-detail:hover {
  background-color: #ecf0f1;
}
.hdk-menu-item:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.hdk-menu-item:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hdk-menu-item-detail:first-child:hover {
  border-top-right-radius: 10px;
}
.hdk-menu-item-detail:last-child:hover {
  border-bottom-right-radius: 10px;
}
.hdk-menu-item-details {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  display: none;
}

.hdk-menu-item:hover .hdk-menu-item-details {
  display: block;
}

.hdk-menu-item-detail {
  padding: 5px 10px;
  width: 150px;
}

.cart-action-group .product-action {
  display: flex;
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.cart-action-group .product-action input {
  width: 45px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  color: var(--primary);
  background: var(--chalk);
}

.product-action input {
  width: 100%;
  font-size: 15px;
  margin: 0px 5px;
  padding: 6px 0px;
  border-radius: 6px;
  text-align: center;
  color: var(--white);
  background: var(--primary);
  text-shadow: var(--primary-tshadow);
}

.modal-open {
  padding: 0 !important;
}
